.signup-container{
    background: #BBC7C8;
    border-radius: 10px;
    margin: auto; 
    margin-top: 5rem;
}

.logo-image{
    content: url("/assets/images/todo-logo.png");
    height: 10em;
    width: 10em;
}

.btn{
    width: 6.25rem;
    cursor: pointer;
    font-weight: bold;
}

.login{
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.error-message{
    font-size: 13px;
    color: #6a040f;
}